<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{{ js 'application.js' }}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
