<!DOCTYPE html>
<html data-ng-app="app" ng-strict-di>
  <head>
    <title data-ng-bind="title"></title>
    {{{ css 'application.css' }}}
    {{{ js 'application.js' }}}
  </head>
  <body>
    <div data-ng-view></div>
  </body>
</html>
